@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    @{
        for (int i = 0; i < ViewBag.Contents.Count; i++)
        {
            var content = ViewBag.Contents[i];
            if (i % 3 == 0)
            {
                <div class="col-md-4 clearfix home-content">
                    <div class="text-center">
                        <img src="~/Images/TopBanner-2.png"/>
                    </div>
                    <h2>@content.Title</h2>
                    <p>
                        @content.Description
                    </p>
                    <p>@Html.ActionLink(linkText: "Read more",
                      actionName: "TravelDetail",
                      controllerName: "Travel",
                      routeValues: new { ObjectID = content.ObjectID },
                      htmlAttributes: null)
                    </p>
                </div>
            }
            else
            {
                <div class="col-md-4 home-content">
                    <div class="text-center">
                        <img src="~/Images/TopBanner-2.png" />
                    </div>
                    <h2>@content.Title</h2>
                    <p>
                        @content.Description
                    </p>
                    <p>
                        @Html.ActionLink(linkText: "Read more",
                      actionName: "TravelDetail",
                      controllerName: "Travel",
                      routeValues: new { ObjectID = content.ObjectID },
                      htmlAttributes: null)
                    </p>
                </div>
            }
        }
    }
    
</div>